<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../slys/components/components.css">
    <link rel="stylesheet" href="../slys/slys/slys.css">
    <title>Slys Messenger</title>
</head>
<body class="bg-blue-1">
<!---- Chat box ----->
 <section>
  <div class="container mt-3">
   <div class="content w-98-pr flex space-between mx-auto">
 <div id="user-box" class="min-w-230 sm-100-pr w-20-pr border-1 -pink-1">
  <div id="display-user" class="show-user p-3 pointer">
    <!-- user data display -->
  </div>
 </div>
<!-- main content -->
 <div id="chat-board-id" class="mx-auto w-95-pr p-10 bg-base shadow-3 radius-5 sm-none">
  <div id="chat-board-head" class="bg-base-3 radius-3 h-40"><!---header-box-photo-username-start---->
  <!--- data load js main file  -->
  </div><!---header-box-photo-username-end---->
  <div class="radius-15 py-20 border-1 -pink mt-8"><!---chat-box-start--->
   <div id="chat-box" class="h-480 overflow-y-auto px-10"><!---chat-data-start--->
<!-- Chat Data Load here -->
   </div><!---chat-data-end--->
  </div><!---chat-box-end--->
  <div class="flex mt-3"><!----inp-btn-box-start--->
   <textarea id="textareaId" class="input max-h-100 resize-none" type="text" placeholder="Write"></textarea>
   <button onclick="liveChatManagement()" class="btn-sm">Send</button>
  </div><!----inp-btn-box-end--->
 </div>
   </div>
  </div>
 </section>



 <script src="../hooks/hooks.js"></script>
 <script src="../function/function.js"></script>
 <script src="../components/chats.js"></script>

</body>
</html>