<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="../slys/components/components.css">
 <link rel="stylesheet" href="../slys/slys/slys.css">
 <title>Greetings</title>
</head>
<body>

<!---- SignIn and Register Data Load fron js ----->
 <section id="main-section"></section>


  <script src="../hooks/hooks.js"></script>
  <script src="../function/function.js"></script>
 <script>
// get ls data
const [users, setUsers] = useState([]);
// function getUsersDatabase start
function getUsersDatabase(){
const lsId = localStorage.getItem('slys-messenger-datas'); 
 if(!lsId){
   signInForm();
   showElementById('signin-form-section');
 }
// fetch get db users
 fetch(userUrl, {
  method: "GET", headers: {'content-type':'application/json'}
 }).then((res)=> res.json()).then((allUsers)=> {
  setUsers(allUsers); //hooks
  const findId = allUsers.find((allUser)=> allUser._id === lsId);
  if(findId._id === lsId){
    location.assign('chats.html');    
  }
 });
}// getUsersDatabase fn end 
getUsersDatabase();



const mainSection = document.getElementById('main-section');
// signInForm start
function signInForm(){ 
mainSection.innerHTML = '';
mainSection.innerHTML = `
<!-- Sign in form -->
 <section id="signin-form-section" class="absolute w-100-pr top-0 left-0 non">
  <div class="container mt-20">
    <div class="content form w-85-pr">
        <!-- form data load js -->
  <div class="Title text-center">
   <h1 class="fs-33 aqua-5">Login form</h1>
  </div>
  <div class="inp mt-20">
    <input class="input" type="text" id="emailNumber" placeholder="Email or number">
  </div>
  <div class="inp mt-15">
    <input class="input" type="password" id="password" placeholder="Password">
  </div>
  <div class="btn mt-30 text-center mt-30">
    <button class="btn-md danger" id="login-form-btn" onclick="signInFormSubmit()">Login</button>
  </div>
  <div class="message text-center mt-15 h-15">
   <p id="display" class="fs-18 bold-500 purple">Display</p>
  </div>
  <div class="message text-end mt-10 h-15">
   <p class="fs-16 base-8">You have no account?<span onclick="userRegistrationForm()" class="aqua fs-20 pointer mx-5">Register</span></p>
  </div>
        <!-- form data load js -->
    </div>
  </div>
 </section>`; 

}//signInForm end

  const display = document.getElementById('display');

// signInFormSubmit start
function signInFormSubmit() {
  const inpEmailNum = document.getElementById('emailNumber');
  const inpPass = document.getElementById('password');
  const emailNumber = inpEmailNum.value.trim();
  const password = inpPass.value.trim();

  if(!emailNumber || !password){
   return display.innerHTML = 'All fieled are required *';
  }
 const dbUsers = users(0);
 const dbData = dbUsers.find((user)=> (user.password === password) && (user.number === emailNumber || user.email === emailNumber));

 if(dbData){ 
  display.innerHTML = 'Welcome';
  localStorage.setItem('slys-messenger-datas', dbData._id);  
   location.assign('chats.html');
 }else{
    display.innerHTML = 'Email or password not matched';
 }

}//signInFormSubmit fn end


   signInForm();

// user Registration Form 
function userRegistrationForm(){
 mainSection.innerHTML = '';
 mainSection.innerHTML = `
 <div class="container">
  <div class="content">
 <form id="user-reg-form-data" class="form w-70-pr">
  <div class="title text-center">
  <h1 class="fs-30 aqua-8">User Registration Form</h1>
  </div>
  <div class="inp mt-15">
  <input class="input" type="text" name="name" maxlength="25" placeholder="Name">
  </div>
  <div class="inp mt-8">
  <input class="input" type="number" name="number" placeholder="Number">
  </div>
  <div class="inp mt-8">
  <input class="input" type="email" name="email" placeholder="Email">
  </div>
  <div class="inp mt-8">
  <input class="input" type="password" name="password" placeholder="Password">
  </div>
  <div class="inp mt-8">
  <input class="input" type="text" name="location" placeholder="Location">
  </div>
  <div class="inp mt-8">
  <input class="input" type="text" name="image" placeholder="image">
  </div>
  <div class="button mt-20 text-center">
  <input type="submit" class="btn-md danger" value="Submit">
  </div>
  <div class="mt-8 text-center">
  <p id="msg" class="fs-18 bold-500 lime">Message</p>
  </div>
  <div class="link text-right mt-8">
  <p id="msg" class="fs-18 bold-500 aqua-1">You have an already account?<span onclick="signInForm()" class="aqua mx-5 fs-20 pointer">Signin</span></p>
  </div>
 </form>
  </div>
 </div>`;

}// userRegitrationForm end
// userRegistrationForm();


const msg = document.getElementById('msg');
const userRegForm = document.getElementById('user-reg-form-data');
 if(userRegForm){
userRegForm.onsubmit =(e)=> {
  e.preventDefault();
 const formData = new FormData(userRegForm);
 const {name,number,email,password,location,image} = Object.fromEntries(formData.entries());

 if(!name || !number || !email || !password || !location || !image){
   msg.innerHTML = 'All fieled are required';
 }

 const datas = {
  name: name.trim(),
  number: number.trim(),
  email: email.trim(),
  password: password.trim(),
  location: location.trim(),
  image: image.trim(),
  date: Date.now()
 }
// data set database
fetch(userUrl,{
  method: "POST",
  headers: {'content-type':'application/json'},
  body: JSON.stringify(datas)
}).then(res => res.json()).then((result)=> {
  msg.innerHTML = 'Regitration Successfully...';
  
});

  }
 }


  </script>

    


</body>
</html>