<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../slys/components/components.css">
    <link rel="stylesheet" href="../slys/slys/slys.css">
    <title>Home</title>
</head>
<body>
<!-- All User Profile Details -->
 <section> 
  <div id="allUser-show-display" class="container flex flex-wrap center-x">
<!-- contents load from js -->
  </div>
 </section>


 <script src="../function/function.js"></script>
 <script>
    fetch(userUrl, {
        method: "GET",
        headers: {'content-type':'application/josn'}
    }).then(res => res.json()).then(dbUsers => {
      dbUsers.forEach(dbUser => {
 document.getElementById('allUser-show-display').innerHTML += `
 <div class="content border-1 -aqua-3">
  <div class="bg-base-5 text-center w-300 m-10 p-15 radius-10 shadow-3">
   <div class="border-1 -aqua-3 radius-10 p-10">
    <img class="w-100 h-100 mt-10 round border-3 -white" src="${dbUser.image ? dbUser.image :  profile}">
    <h1 class="mt-5">${dbUser.name}</h1>
    <p class="mt-5">${dbUser.number}</p>
    <p class="mt-5">${dbUser.location}</p>
    <p onclick="viewUserProfile()" class="blue pointer p-10 fs-18 bold-600">Message</p>
   </div>
  </div>
 </div>`;  
 });
});

// Profile box on Click
function viewUserProfile(){
    location.assign('chats.html');
}


 </script>




</body>
</html>