/*------------------------------------------------------------------------*/
.bg-color-0 {background-color: #030712;}
.bg-color-1 {background-color: #1D202A;} 
.bg-color-2 {background-color: #008DCD;} 
.bg-color-3 {background-color: #0084C2;}

/*-----------------------------Text-background-color-------------------------*/ 
.bg-transparent {background-color: transparent;}
.bg-white {background-color: white;}
.bg-whites {background-color: #ecf0fe;}
.bg-aquamarine {background-color: aquamarine;} 
.bg-darkblue {background-color: darkblue;}
.bg-darkcyan {background-color: darkcyan;}
.bg-darkgray {background-color: darkgray;}
.bg-darkgreen {background-color: darkgreen;}
.bg-darkred {background-color: darkred;}
.bg-darksalmon {background-color: darksalmon;}
.bg-darkviolet {background-color: darkviolet;}
.bg-lightblue {background-color: lightblue;}
.bg-lightcyan {background-color: lightcyan;}
.bg-lightgray {background-color: lightgray;}
.bg-lightgreen {background-color: lightgreen;}
.bg-lightyellow {background-color: lightyellow;}
.bg-lightsalmon {background-color: lightsalmon;}
/* Base */ 
.bg-base {background-color: #F2F2F3;} 
.bg-base-1 {background-color: #967AAD;}
.bg-base-2 {background-color: #64358A;}
.bg-base-3 {background-color: #4E1F7A;} 
.bg-base-4 {background-color: #F2EEF6;}
.bg-base-5 {background-color: #D3E3FE;} 
.bg-base-6 {background-color: #E5E6E5;}
.bg-base-7 {background-color: #64748B;} 
.bg-base-8 {background-color: #225369;}
/* Red */
.bg-red {background-color: red;}
.bg-red-1 {background-color: #FFE3E3;}
.bg-red-2 {background-color: #FFC7C7;}
.bg-red-3 {background-color: #FFABAB;}
.bg-red-4 {background-color: #FF8F8F;}
.bg-red-5 {background-color: #FF7373;}
.bg-red-6 {background-color: #FF5757;}
.bg-red-7 {background-color: #FF3B3B;}
.bg-red-8 {background-color: #FF1F1F;} 
/* green */ 
.bg-green {background-color: green;}
.bg-green-1 {background-color: #E3F1E3;}
.bg-green-2 {background-color: #C7E3C7;}
.bg-green-3 {background-color: #ABD5AB;}
.bg-green-4 {background-color: #8FC78F;}
.bg-green-5 {background-color: #73B973;}
.bg-green-6 {background-color: #57AB57;}
.bg-green-7 {background-color: #3B9E3B;}
.bg-green-8 {background-color: #1F901F;} 
/* blue */ 
.bg-blue {background-color: blue;}
.bg-blue-1 {background-color: #E3E3FF;}
.bg-blue-2 {background-color: #C7C7FF;}
.bg-blue-3 {background-color: #ABABFF;}
.bg-blue-4 {background-color: #8F8FFF;}
.bg-blue-5 {background-color: #7373FF;}
.bg-blue-6 {background-color: #5757FF;}
.bg-blue-7 {background-color: #3B3BFF;}
.bg-blue-8 {background-color: #1F1FFF;} 
/* black */ 
.bg-black {background-color: black;}
.bg-black-1 {background-color: #E3E3E3;}
.bg-black-2 {background-color: #C7C7C7;}
.bg-black-3 {background-color: #ABABAB;}
.bg-black-4 {background-color: #8F8F8F;}
.bg-black-5 {background-color: #737373;}
.bg-black-6 {background-color: #575757;}
.bg-black-7 {background-color: #3B3B3B;}
.bg-black-8 {background-color: #1F1F1F;} 
/* yellow */ 
.bg-yellow {background-color: yellow;}
.bg-yellow-1 {background-color: #FFFFE3;}
.bg-yellow-2 {background-color: #FFFFC7;}
.bg-yellow-3 {background-color: #FFFFAB;}
.bg-yellow-4 {background-color: #FFFF8F;}
.bg-yellow-5 {background-color: #FFFF73;}
.bg-yellow-6 {background-color: #FFFF57;}
.bg-yellow-7 {background-color: #FFFF3B;}
.bg-yellow-8 {background-color: #FFFF1F;}
/* aqua */ 
.bg-aqua {background-color: aqua;} 
.bg-aqua-1 {background-color: #E3FFFF;} 
.bg-aqua-2 {background-color: #C7FFFF;} 
.bg-aqua-3 {background-color: #ABFFFF;} 
.bg-aqua-4 {background-color: #8FFFFF;} 
.bg-aqua-5 {background-color: #73FFFF;} 
.bg-aqua-6 {background-color: #57FFFF;} 
.bg-aqua-7 {background-color: #3BFFFF;} 
.bg-aqua-8 {background-color: #1FFFFF;} 
/* skyblue */ 
.bg-sky {background-color: skyblue;}
.bg-sky-1 {background-color: #F2FAFD;}
.bg-sky-2 {background-color: #E5F4FB;}
.bg-sky-3 {background-color: #D8EFF9;}
.bg-sky-4 {background-color: #CAEAF6;}
.bg-sky-5 {background-color: #BDE4F4;}
.bg-sky-6 {background-color: #B0DFF2;}
.bg-sky-7 {background-color: #A3DAF0;}
.bg-sky-8 {background-color: #96D4EE;} 
/* gray */ 
.bg-gray {background-color: gray;}
.bg-gray-1 {background-color: #F1F1F1;}
.bg-gray-2 {background-color: #E3E3E3;}
.bg-gray-3 {background-color: #D5D5D5;}
.bg-gray-4 {background-color: #C7C7C7;}
.bg-gray-5 {background-color: #B9B9B9;}
.bg-gray-6 {background-color: #ABABAB;}
.bg-gray-7 {background-color: #9E9E9E;}
.bg-gray-8 {background-color: #909090;} 
/* cyan */ 
.bg-cyan {background-color: cyan;}
.bg-cyan-1 {background-color: #E3FFFF;}
.bg-cyan-2 {background-color: #C7FFFF;}
.bg-cyan-3 {background-color: #ABFFFF;}
.bg-cyan-4 {background-color: #8FFFFF;}
.bg-cyan-5 {background-color: #73FFFF;}
.bg-cyan-6 {background-color: #57FFFF;}
.bg-cyan-7 {background-color: #3BFFFF;}
.bg-cyan-8 {background-color: #1FFFFF;} 
/* violet */ 
.bg-violet {background-color: violet;}
.bg-violet-1 {background-color: #FDF1FD;}
.bg-violet-2 {background-color: #FBE4FB;}
.bg-violet-3 {background-color: #FAD6FA;}
.bg-violet-4 {background-color: #F8C8F8;}
.bg-violet-5 {background-color: #F6BBF6;}
.bg-violet-6 {background-color: #F4ADF4;}
.bg-violet-7 {background-color: #F29FF2;}
.bg-violet-8 {background-color: #F091F0;}
/* pink */ 
.bg-pink {background-color: pink;}
.bg-pink-1 {background-color: #FFF8F9;}
.bg-pink-2 {background-color: #FFF1F4;}
.bg-pink-3 {background-color: #FFEAEE;}
.bg-pink-4 {background-color: #FFE3E8;}
.bg-pink-5 {background-color: #FFDDE3;}
.bg-pink-6 {background-color: #FFD6DD;}
.bg-pink-7 {background-color: #FFCFD7;}
.bg-pink-8 {background-color: #FFC8D2;} 
/* lime */ 
.bg-lime {background-color: lime;} 
.bg-lime-1 {background-color: #E3FFE3;} 
.bg-lime-2 {background-color: #C7FFC7;} 
.bg-lime-3 {background-color: #ABFFAB;} 
.bg-lime-4 {background-color: #8FFF8F;} 
.bg-lime-5 {background-color: #73FF73;} 
.bg-lime-6 {background-color: #57FF57;} 
.bg-lime-7 {background-color: #3BFF3B;} 
.bg-lime-8 {background-color: #1FFF1F;} 
/* tomato */ 
.bg-tomato {background-color: tomato;} 
.bg-tomato-1 {background-color: #FFEEEB;} 
.bg-tomato-2 {background-color: #FFDDD7;} 
.bg-tomato-3 {background-color: #FFCCC2;} 
.bg-tomato-4 {background-color: #FFBBAE;} 
.bg-tomato-5 {background-color: #FFA99A;} 
.bg-tomato-6 {background-color: #FF9886;} 
.bg-tomato-7 {background-color: #FF8772;} 
.bg-tomato-8 {background-color: #FF765D;} 
/* teal */ 
.bg-teal {background-color: teal;} 
.bg-teal-1 {background-color: #E3F1F1;} 
.bg-teal-2 {background-color: #C7E3E3;} 
.bg-teal-3 {background-color: #ABD5D5;} 
.bg-teal-4 {background-color: #8FC7C7;} 
.bg-teal-5 {background-color: #73B9B9;} 
.bg-teal-6 {background-color: #57ABAB;} 
.bg-teal-7 {background-color: #3B9E9E;} 
.bg-teal-8 {background-color: #1F9090;} 
/* olive */ 
.bg-olive {background-color: olive;}
.bg-olive-1 {background-color: #F1F1E3;}
.bg-olive-2 {background-color: #E3E3C7;}
.bg-olive-3 {background-color: #D5D5AB;}
.bg-olive-4 {background-color: #C7C78F;}
.bg-olive-5 {background-color: #B9B973;}
.bg-olive-6 {background-color: #ABAB57;}
.bg-olive-7 {background-color: #9E9E3B;}
.bg-olive-8 {background-color: #90901F;} 
/* orange */ 
.bg-orange {background-color: orange;}
.bg-orange-1 {background-color: #FFFFE3;}
.bg-orange-2 {background-color: #FFFFC7;}
.bg-orange-3 {background-color: #FFFFAB;}
.bg-orange-4 {background-color: #FFFF8F;}
.bg-orange-5 {background-color: #FFFF73;}
.bg-orange-6 {background-color: #FFFF57;}
.bg-orange-7 {background-color: #FFFF3B;}
.bg-orange-8 {background-color: #FFFF1F;} 
/* navy */ 
.bg-navy {background-color: navy;}
.bg-navy-1 {background-color: #E3E3F1;}
.bg-navy-2 {background-color: #C7C7E3;}
.bg-navy-3 {background-color: #ABABD5;}
.bg-navy-4 {background-color: #8F8FC7;}
.bg-navy-5 {background-color: #7373B9;}
.bg-navy-6 {background-color: #5757AB;}
.bg-navy-7 {background-color: #3B3B9E;}
.bg-navy-8 {background-color: #1F1F90;}
/* fuchsia */ 
.bg-fuchsia {background-color: fuchsia;}
.bg-fuchsia-1 {background-color: #FFE3FF;}
.bg-fuchsia-2 {background-color: #FFC7FF;}
.bg-fuchsia-3 {background-color: #FFABFF;}
.bg-fuchsia-4 {background-color: #FF8FFF;}
.bg-fuchsia-5 {background-color: #FF73FF;}
.bg-fuchsia-6 {background-color: #FF57FF;}
.bg-fuchsia-7 {background-color: #FF3BFF;}
.bg-fuchsia-8 {background-color: #FF1FFF;} 
/* purple */
.bg-purple {background-color: purple;}
.bg-purple-1 {background-color: #F1E3F1;}
.bg-purple-2 {background-color: #E3C7E3;}
.bg-purple-3 {background-color: #D5ABD5;}
.bg-purple-4 {background-color: #C78FC7;}
.bg-purple-5 {background-color: #B973B9;}
.bg-purple-6 {background-color: #AB57AB;}
.bg-purple-7 {background-color: #9E3B9E;}
.bg-purple-8 {background-color: #901F90;} 
