.radius-0 {border-radius: 0px;}       .radius-1 {border-radius: 1px;}
.radius-2 {border-radius: 2px;}       .radius-3 {border-radius: 3px;}
.radius-4 {border-radius: 4px;}       .radius-5 {border-radius: 5px;}
.radius-6 {border-radius: 6px;}       .radius-7 {border-radius: 7px;}
.radius-8 {border-radius: 8px;}       .radius-9 {border-radius: 9px;}
.radius-10 {border-radius: 10px;}     .radius-11 {border-radius: 11px;}
.radius-12 {border-radius: 12px;}     .radius-13 {border-radius: 13px;}
.radius-14 {border-radius: 14px;}     .radius-15 {border-radius: 15px;}
.radius-16 {border-radius: 16px;}     .radius-17 {border-radius: 17px;}
.radius-18 {border-radius: 18px;}     .radius-19 {border-radius: 19px;}
.radius-20 {border-radius: 20px;}     .radius-21 {border-radius: 21px;}
.radius-22 {border-radius: 22px;}     .radius-23 {border-radius: 23px;}
.radius-24 {border-radius: 24px;}     .radius-25 {border-radius: 25px;}
.radius-26 {border-radius: 26px;}     .radius-27 {border-radius: 27px;}
.radius-28 {border-radius: 28px;}     .radius-29 {border-radius: 29px;}
.radius-30 {border-radius: 30px;}
/* ---------------------------------- */
.round {border-radius: 100%;}
