/* ---------------------------------------------------------------------------- */
/* ----------------------- Border color ----------------------------------- */
/* ---------------------------------------------------------------------------- */
.-color-0 {border-color: #030712;}
.-color-1 {border-color: #1D202A;} 
.-color-2 {border-color: #008DCD;} 
.-color-3 {border-color: #0084C2;} 

/*----Text-border-color--------*/
.-transparent {border-color: transparent;}
.-white {border-color: white;}
.-whites {border-color: #ecf0f3;}
.-aquamarine {border-color: aquamarine;} 
.-darkblue {border-color: darkblue;}
.-darkcyan {border-color: darkcyan;}
.-darkgray {border-color: darkgray;}
.-darkgreen {border-color: darkgreen;}
.-darkred {border-color: darkred;}
.-darksalmon {border-color: darksalmon;}
.-darkviolet {border-color: darkviolet;}
.-lightblue {border-color: lightblue;}
.-lightcyan {border-color: lightcyan;}
.-lightgray {border-color: lightgray;}
.-lightgreen {border-color: lightgreen;}
.-lightyellow {border-color: lightyellow;}
.-lightsalmon {border-color: lightsalmon;} 
/* base */
.-base {border-color: #F2F2F3;} 
.-base-1 {border-color: #967AAD;}
.-base-2 {border-color: #64358A;}
.-base-3 {border-color: #4E1F7A;} 
.-base-4 {border-color: #F2EEF6;}
.-base-5 {border-color: #D3E3FE;} 
.-base-6 {border-color: #E5E6E5;}
.-base-7 {border-color: #64748B;} 
.-base-8 {border-color: #225369;} 
/* Red */
.-red {border-color: red;}
.-red-1 {border-color: #FFE3E3;}
.-red-2 {border-color: #FFC7C7;}
.-red-3 {border-color: #FFABAB;}
.-red-4 {border-color: #FF8F8F;}
.-red-5 {border-color: #FF7373;}
.-red-6 {border-color: #FF5757;}
.-red-7 {border-color: #FF3B3B;}
.-red-8 {border-color: #FF1F1F;} 
/* green */ 
.-green {border-color: green;}
.-green-1 {border-color: #E3F1E3;}
.-green-2 {border-color: #C7E3C7;}
.-green-3 {border-color: #ABD5AB;}
.-green-4 {border-color: #8FC78F;}
.-green-5 {border-color: #73B973;}
.-green-6 {border-color: #57AB57;}
.-green-7 {border-color: #3B9E3B;}
.-green-8 {border-color: #1F901F;} 
/* blue */ 
.-blue {border-color: blue;}
.-blue-1 {border-color: #E3E3FF;}
.-blue-2 {border-color: #C7C7FF;}
.-blue-3 {border-color: #ABABFF;}
.-blue-4 {border-color: #8F8FFF;}
.-blue-5 {border-color: #7373FF;}
.-blue-6 {border-color: #5757FF;}
.-blue-7 {border-color: #3B3BFF;}
.-blue-8 {border-color: #1F1FFF;} 
/* black */ 
.-black {border-color: black;}
.-black-1 {border-color: #E3E3E3;}
.-black-2 {border-color: #C7C7C7;}
.-black-3 {border-color: #ABABAB;}
.-black-4 {border-color: #8F8F8F;}
.-black-5 {border-color: #737373;}
.-black-6 {border-color: #575757;}
.-black-7 {border-color: #3B3B3B;}
.-black-8 {border-color: #1F1F1F;} 
/* yellow */ 
.-yellow {border-color: yellow;}
.-yellow-1 {border-color: #FFFFE3;}
.-yellow-2 {border-color: #FFFFC7;}
.-yellow-3 {border-color: #FFFFAB;}
.-yellow-4 {border-color: #FFFF8F;}
.-yellow-5 {border-color: #FFFF73;}
.-yellow-6 {border-color: #FFFF57;}
.-yellow-7 {border-color: #FFFF3B;}
.-yellow-8 {border-color: #FFFF1F;}
/* aqua */ 
.-aqua {border-color: aqua;} 
.-aqua-1 {border-color: #E3FFFF;} 
.-aqua-2 {border-color: #C7FFFF;} 
.-aqua-3 {border-color: #ABFFFF;} 
.-aqua-4 {border-color: #8FFFFF;} 
.-aqua-5 {border-color: #73FFFF;} 
.-aqua-6 {border-color: #57FFFF;} 
.-aqua-7 {border-color: #3BFFFF;} 
.-aqua-8 {border-color: #1FFFFF;} 
/* skyblue */ 
.-sky {border-color: skyblue;}
.-sky-1 {border-color: #F2FAFD;}
.-sky-2 {border-color: #E5F4FB;}
.-sky-3 {border-color: #D8EFF9;}
.-sky-4 {border-color: #CAEAF6;}
.-sky-5 {border-color: #BDE4F4;}
.-sky-6 {border-color: #B0DFF2;}
.-sky-7 {border-color: #A3DAF0;}
.-sky-8 {border-color: #96D4EE;} 
/* gray */ 
.-gray {border-color: gray;}
.-gray-1 {border-color: #F1F1F1;}
.-gray-2 {border-color: #E3E3E3;}
.-gray-3 {border-color: #D5D5D5;}
.-gray-4 {border-color: #C7C7C7;}
.-gray-5 {border-color: #B9B9B9;}
.-gray-6 {border-color: #ABABAB;}
.-gray-7 {border-color: #9E9E9E;}
.-gray-8 {border-color: #909090;} 
/* cyan */ 
.-cyan {border-color: cyan;}
.-cyan-1 {border-color: #E3FFFF;}
.-cyan-2 {border-color: #C7FFFF;}
.-cyan-3 {border-color: #ABFFFF;}
.-cyan-4 {border-color: #8FFFFF;}
.-cyan-5 {border-color: #73FFFF;}
.-cyan-6 {border-color: #57FFFF;}
.-cyan-7 {border-color: #3BFFFF;}
.-cyan-8 {border-color: #1FFFFF;} 
/* violet */ 
.-violet {border-color: violet;}
.-violet-1 {border-color: #FDF1FD;}
.-violet-2 {border-color: #FBE4FB;}
.-violet-3 {border-color: #FAD6FA;}
.-violet-4 {border-color: #F8C8F8;}
.-violet-5 {border-color: #F6BBF6;}
.-violet-6 {border-color: #F4ADF4;}
.-violet-7 {border-color: #F29FF2;}
.-violet-8 {border-color: #F091F0;}
/* pink */ 
.-pink {border-color: pink;}
.-pink-1 {border-color: #FFF8F9;}
.-pink-2 {border-color: #FFF1F4;}
.-pink-3 {border-color: #FFEAEE;}
.-pink-4 {border-color: #FFE3E8;}
.-pink-5 {border-color: #FFDDE3;}
.-pink-6 {border-color: #FFD6DD;}
.-pink-7 {border-color: #FFCFD7;}
.-pink-8 {border-color: #FFC8D2;} 
/* lime */ 
.-lime {border-color: lime;} 
.-lime-1 {border-color: #E3FFE3;} 
.-lime-2 {border-color: #C7FFC7;} 
.-lime-3 {border-color: #ABFFAB;} 
.-lime-4 {border-color: #8FFF8F;} 
.-lime-5 {border-color: #73FF73;} 
.-lime-6 {border-color: #57FF57;} 
.-lime-7 {border-color: #3BFF3B;} 
.-lime-8 {border-color: #1FFF1F;} 
/* tomato */ 
.-tomato {border-color: tomato;} 
.-tomato-1 {border-color: #FFEEEB;} 
.-tomato-2 {border-color: #FFDDD7;} 
.-tomato-3 {border-color: #FFCCC2;} 
.-tomato-4 {border-color: #FFBBAE;} 
.-tomato-5 {border-color: #FFA99A;} 
.-tomato-6 {border-color: #FF9886;} 
.-tomato-7 {border-color: #FF8772;} 
.-tomato-8 {border-color: #FF765D;} 
/* teal */ 
.-teal {border-color: teal;} 
.-teal-1 {border-color: #E3F1F1;} 
.-teal-2 {border-color: #C7E3E3;} 
.-teal-3 {border-color: #ABD5D5;} 
.-teal-4 {border-color: #8FC7C7;} 
.-teal-5 {border-color: #73B9B9;} 
.-teal-6 {border-color: #57ABAB;} 
.-teal-7 {border-color: #3B9E9E;} 
.-teal-8 {border-color: #1F9090;} 
/* olive */ 
.-olive {border-color: olive;}
.-olive-1 {border-color: #F1F1E3;}
.-olive-2 {border-color: #E3E3C7;}
.-olive-3 {border-color: #D5D5AB;}
.-olive-4 {border-color: #C7C78F;}
.-olive-5 {border-color: #B9B973;}
.-olive-6 {border-color: #ABAB57;}
.-olive-7 {border-color: #9E9E3B;}
.-olive-8 {border-color: #90901F;} 
/* orange */ 
.-orange {border-color: orange;}
.-orange-1 {border-color: #FFFFE3;}
.-orange-2 {border-color: #FFFFC7;}
.-orange-3 {border-color: #FFFFAB;}
.-orange-4 {border-color: #FFFF8F;}
.-orange-5 {border-color: #FFFF73;}
.-orange-6 {border-color: #FFFF57;}
.-orange-7 {border-color: #FFFF3B;}
.-orange-8 {border-color: #FFFF1F;} 
/* navy */ 
.-navy {border-color: navy;}
.-navy-1 {border-color: #E3E3F1;}
.-navy-2 {border-color: #C7C7E3;}
.-navy-3 {border-color: #ABABD5;}
.-navy-4 {border-color: #8F8FC7;}
.-navy-5 {border-color: #7373B9;}
.-navy-6 {border-color: #5757AB;}
.-navy-7 {border-color: #3B3B9E;}
.-navy-8 {border-color: #1F1F90;}
/* fuchsia */ 
.-fuchsia {border-color: fuchsia;}
.-fuchsia-1 {border-color: #FFE3FF;}
.-fuchsia-2 {border-color: #FFC7FF;}
.-fuchsia-3 {border-color: #FFABFF;}
.-fuchsia-4 {border-color: #FF8FFF;}
.-fuchsia-5 {border-color: #FF73FF;}
.-fuchsia-6 {border-color: #FF57FF;}
.-fuchsia-7 {border-color: #FF3BFF;}
.-fuchsia-8 {border-color: #FF1FFF;}
/* purple */
.-purple {border-color: purple;}
.-purple-1 {border-color: #F1E3F1;}
.-purple-2 {border-color: #E3C7E3;}
.-purple-3 {border-color: #D5ABD5;}
.-purple-4 {border-color: #C78FC7;}
.-purple-5 {border-color: #B973B9;}
.-purple-6 {border-color: #AB57AB;}
.-purple-7 {border-color: #9E3B9E;}
.-purple-8 {border-color: #901F90;}

