/*------------------------------------------------------------------------*/
.color-0 {color: #030712;}
.color-1 {color: #1D202A;} 
.color-2 {color: #008DCD;} 
.color-3 {color: #0084C2;} 

/*-----------------------------Text-Color-------------------------*/
.transparent {color: transparent;}
.white {color: white;}
.whites {color: #ecf0f3;} 
.aquamarine {color: aquamarine;} 
.darkblue {color: darkblue;}
.darkcyan {color: darkcyan;}
.darkgray {color: darkgray;}
.darkgreen {color: darkgreen;}
.darkred {color: darkred;}
.darksalmon {color: darksalmon;}
.darkviolet {color: darkviolet;}
.lightblue {color: lightblue;}
.lightcyan {color: lightcyan;}
.lightgray {color: lightgray;}
.lightgreen {color: lightgreen;}
.lightyellow {color: lightyellow;}
.lightsalmon {color: lightsalmon;} 
/* base */
.base {color: #F2F2F3;} 
.base-1 {color: #967AAD;}
.base-2 {color: #64358A;}
.base-3 {color: #4E1F7A;} 
.base-4 {color: #F2EEF6;}
.base-5 {color: #D3E3FE;} 
.base-6 {color: #E5E6E5;}
.base-7 {color: #64748B;} 
.base-8 {color: #225369;} 
/* Red */
.red {color: red;}
.red-1 {color: #FFE3E3;}
.red-2 {color: #FFC7C7;}
.red-3 {color: #FFABAB;}
.red-4 {color: #FF8F8F;}
.red-5 {color: #FF7373;}
.red-6 {color: #FF5757;}
.red-7 {color: #FF3B3B;}
.red-8 {color: #FF1F1F;} 
/* green */ 
.green {color: green;}
.green-1 {color: #E3F1E3;}
.green-2 {color: #C7E3C7;}
.green-3 {color: #ABD5AB;}
.green-4 {color: #8FC78F;}
.green-5 {color: #73B973;}
.green-6 {color: #57AB57;}
.green-7 {color: #3B9E3B;}
.green-8 {color: #1F901F;} 
/* blue */ 
.blue {color: blue;}
.blue-1 {color: #E3E3FF;}
.blue-2 {color: #C7C7FF;}
.blue-3 {color: #ABABFF;}
.blue-4 {color: #8F8FFF;}
.blue-5 {color: #7373FF;}
.blue-6 {color: #5757FF;}
.blue-7 {color: #3B3BFF;}
.blue-8 {color: #1F1FFF;} 
/* black */ 
.black {color: black;}
.black-1 {color: #E3E3E3;}
.black-2 {color: #C7C7C7;}
.black-3 {color: #ABABAB;}
.black-4 {color: #8F8F8F;}
.black-5 {color: #737373;}
.black-6 {color: #575757;}
.black-7 {color: #3B3B3B;}
.black-8 {color: #1F1F1F;} 
/* yellow */ 
.yellow {color: yellow;}
.yellow-1 {color: #FFFFE3;}
.yellow-2 {color: #FFFFC7;}
.yellow-3 {color: #FFFFAB;}
.yellow-4 {color: #FFFF8F;}
.yellow-5 {color: #FFFF73;}
.yellow-6 {color: #FFFF57;}
.yellow-7 {color: #FFFF3B;}
.yellow-8 {color: #FFFF1F;}
/* aqua */ 
.aqua {color: aqua;} 
.aqua-1 {color: #E3FFFF;} 
.aqua-2 {color: #C7FFFF;} 
.aqua-3 {color: #ABFFFF;} 
.aqua-4 {color: #8FFFFF;} 
.aqua-5 {color: #73FFFF;} 
.aqua-6 {color: #57FFFF;} 
.aqua-7 {color: #3BFFFF;} 
.aqua-8 {color: #1FFFFF;} 
/* skyblue */ 
.sky {color: skyblue;}
.sky-1 {color: #F2FAFD;}
.sky-2 {color: #E5F4FB;}
.sky-3 {color: #D8EFF9;}
.sky-4 {color: #CAEAF6;}
.sky-5 {color: #BDE4F4;}
.sky-6 {color: #B0DFF2;}
.sky-7 {color: #A3DAF0;}
.sky-8 {color: #96D4EE;} 
/* gray */ 
.gray {color: gray;}
.gray-1 {color: #F1F1F1;}
.gray-2 {color: #E3E3E3;}
.gray-3 {color: #D5D5D5;}
.gray-4 {color: #C7C7C7;}
.gray-5 {color: #B9B9B9;}
.gray-6 {color: #ABABAB;}
.gray-7 {color: #9E9E9E;}
.gray-8 {color: #909090;} 
/* cyan */ 
.cyan {color: cyan;}
.cyan-1 {color: #E3FFFF;}
.cyan-2 {color: #C7FFFF;}
.cyan-3 {color: #ABFFFF;}
.cyan-4 {color: #8FFFFF;}
.cyan-5 {color: #73FFFF;}
.cyan-6 {color: #57FFFF;}
.cyan-7 {color: #3BFFFF;}
.cyan-8 {color: #1FFFFF;} 
/* violet */ 
.violet {color: violet;}
.violet-1 {color: #FDF1FD;}
.violet-2 {color: #FBE4FB;}
.violet-3 {color: #FAD6FA;}
.violet-4 {color: #F8C8F8;}
.violet-5 {color: #F6BBF6;}
.violet-6 {color: #F4ADF4;}
.violet-7 {color: #F29FF2;}
.violet-8 {color: #F091F0;}
/* pink */ 
.pink {color: pink;}
.pink-1 {color: #FFF8F9;}
.pink-2 {color: #FFF1F4;}
.pink-3 {color: #FFEAEE;}
.pink-4 {color: #FFE3E8;}
.pink-5 {color: #FFDDE3;}
.pink-6 {color: #FFD6DD;}
.pink-7 {color: #FFCFD7;}
.pink-8 {color: #FFC8D2;} 
/* lime */ 
.lime {color: lime;} 
.lime-1 {color: #E3FFE3;} 
.lime-2 {color: #C7FFC7;} 
.lime-3 {color: #ABFFAB;} 
.lime-4 {color: #8FFF8F;} 
.lime-5 {color: #73FF73;} 
.lime-6 {color: #57FF57;} 
.lime-7 {color: #3BFF3B;} 
.lime-8 {color: #1FFF1F;} 
/* tomato */ 
.tomato {color: tomato;} 
.tomato-1 {color: #FFEEEB;} 
.tomato-2 {color: #FFDDD7;} 
.tomato-3 {color: #FFCCC2;} 
.tomato-4 {color: #FFBBAE;} 
.tomato-5 {color: #FFA99A;} 
.tomato-6 {color: #FF9886;} 
.tomato-7 {color: #FF8772;} 
.tomato-8 {color: #FF765D;} 
/* teal */ 
.teal {color: teal;} 
.teal-1 {color: #E3F1F1;} 
.teal-2 {color: #C7E3E3;} 
.teal-3 {color: #ABD5D5;} 
.teal-4 {color: #8FC7C7;} 
.teal-5 {color: #73B9B9;} 
.teal-6 {color: #57ABAB;} 
.teal-7 {color: #3B9E9E;} 
.teal-8 {color: #1F9090;} 
/* olive */ 
.olive {color: olive;}
.olive-1 {color: #F1F1E3;}
.olive-2 {color: #E3E3C7;}
.olive-3 {color: #D5D5AB;}
.olive-4 {color: #C7C78F;}
.olive-5 {color: #B9B973;}
.olive-6 {color: #ABAB57;}
.olive-7 {color: #9E9E3B;}
.olive-8 {color: #90901F;} 
/* orange */ 
.orange {color: orange;}
.orange-1 {color: #FFFFE3;}
.orange-2 {color: #FFFFC7;}
.orange-3 {color: #FFFFAB;}
.orange-4 {color: #FFFF8F;}
.orange-5 {color: #FFFF73;}
.orange-6 {color: #FFFF57;}
.orange-7 {color: #FFFF3B;}
.orange-8 {color: #FFFF1F;} 
/* navy */ 
.navy {color: navy;}
.navy-1 {color: #E3E3F1;}
.navy-2 {color: #C7C7E3;}
.navy-3 {color: #ABABD5;}
.navy-4 {color: #8F8FC7;}
.navy-5 {color: #7373B9;}
.navy-6 {color: #5757AB;}
.navy-7 {color: #3B3B9E;}
.navy-8 {color: #1F1F90;}
/* fuchsia */ 
.fuchsia {color: fuchsia;}
.fuchsia-1 {color: #FFE3FF;}
.fuchsia-2 {color: #FFC7FF;}
.fuchsia-3 {color: #FFABFF;}
.fuchsia-4 {color: #FF8FFF;}
.fuchsia-5 {color: #FF73FF;}
.fuchsia-6 {color: #FF57FF;}
.fuchsia-7 {color: #FF3BFF;}
.fuchsia-8 {color: #FF1FFF;} 
/* purple */
.purple {color: purple;}
.purple-1 {color: #F1E3F1;}
.purple-2 {color: #E3C7E3;}
.purple-3 {color: #D5ABD5;}
.purple-4 {color: #C78FC7;}
.purple-5 {color: #B973B9;}
.purple-6 {color: #AB57AB;}
.purple-7 {color: #9E3B9E;}
.purple-8 {color: #901F90;}
