/* Percent */
.h-0-pr {height: 0%;} .h-1-pr {height: 1%;} .h-2-pr {height: 2%;} 
.h-3-pr {height: 3%;} .h-4-pr {height: 4%;} .h-5-pr {height: 5%;} 
.h-6-pr {height: 6%;} .h-7-pr {height: 7%;} .h-8-pr {height: 8%;} 
.h-9-pr {height: 9%;} .h-10-pr {height: 10%;} .h-11-pr {height: 11%;} 
.h-12-pr {height: 12%;} .h-15-pr {height: 15%;} .h-20-pr {height: 20%;} 
.h-25-pr {height: 25%;} .h-30-pr {height: 30%;} .h-35-pr {height: 35%;} 
.h-40-pr {height: 40%;} .h-45-pr {height: 45%;} .h-50-pr {height: 50%;} 
.h-55-pr {height: 55%;} .h-60-pr {height: 60%;} .h-65-pr {height: 65%;} 
.h-70-pr {height: 70%;} .h-75-pr {height: 75%;} .h-80-pr {height: 80%;} 
.h-85-pr {height: 85%;} .h-90-pr {height: 90%;} .h-95-pr {height: 95%;} 
.h-98-pr {height: 98%;} .h-99-pr {height: 99%;} .h-100-pr {height: 100%;} 

/* PX to Rem */
.h-0 {height: 0.00rem;} .h-1 {height: 0.0625rem;} .h-2 {height: 0.125rem;} 
.h-3 {height: 0.1875rem;} .h-4 {height: 0.25rem;} .h-5 {height: 0.3125rem;} 
.h-6 {height: 0.375rem;} .h-7 {height: 0.4375rem;} .h-8 {height: 0.5rem;} 
.h-9 {height: 0.5625rem;} .h-10 {height: 0.625rem;} .h-11 {height: 0.6875rem;} 
.h-12 {height: 0.75rem;} .h-15 {height: 0.9375rem;} .h-18 {height: 1.125rem;} 
.h-20 {height: 1.25rem;} .h-25 {height: 1.562rem;} .h-30 {height: 1.875rem;}
.h-35 {height: 2.1875rem;} .h-40 {height: 2.5rem;} .h-45 {height: 2.8125rem;} 
.h-50 {height: 3.125rem;} .h-55 {height: 3.4375rem;} .h-60 {height: 3.75rem;} 
.h-65 {height: 4.0625rem;} .h-70 {height: 4.375rem;} .h-75 {height: 4.6875rem;} 
.h-80 {height: 5rem;} .h-85 {height: 5.3125rem;} .h-90 {height: 5.625rem;} 
.h-95 {height: 5.9375rem;} .h-100 {height: 6.25rem;} .h-110 {height: 6.875rem;} 
.h-120 {height: 7.5rem;} .h-130 {height: 8.125rem;} .h-140 {height: 8.75rem;} 
.h-150 {height: 9.375rem;} .h-160 {height: 10rem;} .h-170 {height: 10.625rem;} 
.h-180 {height: 11.25rem;} .h-190 {height: 11.875rem;} .h-200 {height: 12.5rem;} 
.h-210 {height: 13.125rem;} .h-220 {height: 13.75rem;} .h-230 {height: 14.375rem;} 
.h-240 {height: 15rem;} .h-250 {height: 15.625rem;} .h-260 {height: 16.25rem;} 
.h-270 {height: 16.875rem;} .h-280 {height: 17.5rem;} .h-290 {height: 18.125rem;} 
.h-300 {height: 18.75rem;} .h-310 {height: 19.375rem;} .h-320 {height: 20rem;} 
.h-330 {height: 20.625rem;} .h-340 {height: 21.25rem;} .h-350 {height: 21.875rem;} 
.h-360 {height: 22.5rem;} .h-370 {height: 23.125rem;} .h-380 {height: 23.75rem;} 
.h-390 {height: 24.375rem;} .h-400 {height: 25rem;} .h-410 {height: 25.625rem;} 
.h-420 {height: 26.25rem;} .h-430 {height: 26.875rem;} .h-440 {height: 27.5rem;} 
.h-450 {height: 28.125rem;} .h-460 {height: 28.75rem;} .h-470 {height: 29.375rem;} 
.h-480 {height: 30rem;} .h-490 {height: 30.625rem;} .h-500 {height: 31.25rem;} 
.h-520 {height: 32.5rem;} .h-530 {height: 33.125rem;} .h-550 {height: 34.375rem;} 
.h-580 {height: 36.25rem;} .h-600 {height: 37.5rem;} .h-630 {height: 39.375rem;} 
.h-650 {height: 40.625rem;} .h-680 {height: 42.5rem;} .h-700 {height: 43.75rem;} 
.h-750 {height: 46.875rem;} .h-800 {height: 50rem;} .h-min {height: min-content;} 
.h-max {height: max-content;} .h-fit {height: fit-content;} .h-vh {height: 100vh;}
.h-auto {height: auto;}

/* Divide */
.h-1-12	{height: 8.333333%;} .h-2-12	{height: 16.666667%;} .h-3-12 {height: 25%;}
.h-4-12	{height: 33.333333%;} .h-5-12 {height: 41.666667%;} .h-6-12 {height: 50%;} 
.h-7-12	{height: 58.333333%;} .h-8-12 {height: 66.666667%;} .h-9-12 {height: 75%;} 
.h-10-12 {height: 83.333333%;} .h-11-12 {height: 91.666667%;} .h-full {height: 100%;}