/*-------------------------------------------------------------*/
/*------------------------Margin-x--------------------------*/
/*-------------------------------------------------------------*/
.mx-0 {margin-left: 0.00rem; margin-right: 0.00rem;}     
.mx-1 {margin-left: 0.0625rem; margin-right: 0.0625rem;}   
.mx-2 {margin-left: 0.125rem; margin-right: 0.125rem;} 
.mx-3 {margin-left: 0.1875rem; margin-right: 0.1875rem;}   
.mx-4 {margin-left: 0.25rem; margin-right: 0.25rem;}     
.mx-5 {margin-left: 0.3125rem; margin-right: 0.3125rem;} 
.mx-6 {margin-left: 0.375rem; margin-right: 0.375rem;}    
.mx-7 {margin-left: 0.4375rem; margin-right: 0.4375rem;}   
.mx-8 {margin-left: 0.5rem; margin-right: 0.5rem;} 
.mx-9 {margin-left: 0.5625rem; margin-right: 0.5625rem;}   
.mx-10 {margin-left: 0.625rem; margin-right: 0.625rem;}   
.mx-11 {margin-left: 0.6875rem; margin-right: 0.6875rem;} 
.mx-12 {margin-left: 0.75rem; margin-right: 0.75rem;}    
.mx-15 {margin-left: 0.9375rem; margin-right: 0.9375rem;}  
.mx-18 {margin-left: 1.125rem; margin-right: 1.125rem;} 
.mx-20 {margin-left: 1.25rem; margin-right: 1.25rem;}    
.mx-25 {margin-left: 1.562rem; margin-right: 1.562rem;}   
.mx-30 {margin-left: 1.875rem; margin-right: 1.875rem;}
.mx-35 {margin-left: 2.1875rem; margin-right: 2.1875rem;}  
.mx-40 {margin-left: 2.5rem; margin-right: 2.5rem;}     
.mx-45 {margin-left: 2.8125rem; margin-right: 2.8125rem;} 
.mx-50 {margin-left: 3.125rem; margin-right: 3.125rem;}   
.mx-55 {margin-left: 3.4375rem; margin-right: 3.4375rem;}  
.mx-60 {margin-left: 3.75rem; margin-right: 3.75rem;} 
.mx-65 {margin-left: 4.0625rem; margin-right: 4.0625rem;}  
.mx-70 {margin-left: 4.375rem; margin-right: 4.375rem;}   
.mx-75 {margin-left: 4.6875rem; margin-right: 4.6875rem;} 
.mx-80 {margin-left: 5rem; margin-right: 5rem;}       
.mx-85 {margin-left: 5.3125rem; margin-right: 5.3125rem;}  
.mx-90 {margin-left: 5.625rem; margin-right: 5.625rem;} 
.mx-95 {margin-left: 5.9375rem; margin-right: 5.9375rem;}  
.mx-100 {margin-left: 6.25rem; margin-right: 6.25rem;}   
.mx-110 {margin-left: 6.875rem; margin-right: 6.875rem;} 
.mx-120 {margin-left: 7.5rem; margin-right: 7.5rem;}    
.mx-130 {margin-left: 8.125rem; margin-right: 8.125rem;}  
.mx-140 {margin-left: 8.75rem; margin-right: 8.75rem;} 
.mx-150 {margin-left: 9.375rem; margin-right: 9.375rem;}  
.mx-160 {margin-left: 10rem; margin-right: 10rem;}     
.mx-170 {margin-left: 10.625rem; margin-right: 10.625rem;} 
.mx-180 {margin-left: 11.25rem; margin-right: 11.25rem;}  
.mx-190 {margin-left: 11.875rem; margin-right: 11.875rem;} 
.mx-200 {margin-left: 12.5rem; margin-right: 12.5rem;} 
.mx-210 {margin-left: 13.125rem; margin-right: 13.125rem;} 
.mx-220 {margin-left: 13.75rem; margin-right: 13.75rem;}  
.mx-230 {margin-left: 14.375rem; margin-right: 14.375rem;} 
.mx-240 {margin-left: 15rem; margin-right: 15rem;}     
.mx-250 {margin-left: 15.625rem; margin-right: 15.625rem;} 
.mx-260 {margin-left: 16.25rem; margin-right: 16.25rem;} 
.mx-270 {margin-left: 16.875rem; margin-right: 16.875rem;} 
.mx-280 {margin-left: 17.5rem; margin-right: 17.5rem;}   
.mx-290 {margin-left: 18.125rem; margin-right: 18.125rem;} 
.mx-300 {margin-left: 18.75rem; margin-right: 18.75rem;} 
/*---------------------------------------------------------------------*/
/*-------------------------Margin-y---------------------------------*/
/*---------------------------------------------------------------------*/ 
.my-0 {margin-top: 0.00rem; margin-bottom: 0.00rem;}     
.my-1 {margin-top: 0.0625rem; margin-bottom: 0.0625rem;}   
.my-2 {margin-top: 0.125rem; margin-bottom: 0.125rem;} 
.my-3 {margin-top: 0.1875rem; margin-bottom: 0.1875rem;}   
.my-4 {margin-top: 0.25rem; margin-bottom: 0.25rem;}     
.my-5 {margin-top: 0.3125rem; margin-bottom: 0.3125rem;} 
.my-6 {margin-top: 0.375rem; margin-bottom: 0.375rem;}    
.my-7 {margin-top: 0.4375rem; margin-bottom: 0.4375rem;}   
.my-8 {margin-top: 0.5rem; margin-bottom: 0.5rem;} 
.my-9 {margin-top: 0.5625rem; margin-bottom: 0.5625rem;}   
.my-10 {margin-top: 0.625rem; margin-bottom: 0.625rem;}   
.my-11 {margin-top: 0.6875rem; margin-bottom: 0.6875rem;} 
.my-12 {margin-top: 0.75rem; margin-bottom: 0.75rem;}    
.my-15 {margin-top: 0.9375rem; margin-bottom: 0.9375rem;}  
.my-18 {margin-top: 1.125rem; margin-bottom: 1.125rem;} 
.my-20 {margin-top: 1.25rem; margin-bottom: 1.25rem;}    
.my-25 {margin-top: 1.562rem; margin-bottom: 1.562rem;}   
.my-30 {margin-top: 1.875rem; margin-bottom: 1.875rem;}
.my-35 {margin-top: 2.1875rem; margin-bottom: 2.1875rem;}  
.my-40 {margin-top: 2.5rem; margin-bottom: 2.5rem;}     
.my-45 {margin-top: 2.8125rem; margin-bottom: 2.8125rem;} 
.my-50 {margin-top: 3.125rem; margin-bottom: 3.125rem;}   
.my-55 {margin-top: 3.4375rem; margin-bottom: 3.4375rem;}  
.my-60 {margin-top: 3.75rem; margin-bottom: 3.75rem;} 
.my-65 {margin-top: 4.0625rem; margin-bottom: 4.0625rem;}  
.my-70 {margin-top: 4.375rem; margin-bottom: 4.375rem;}   
.my-75 {margin-top: 4.6875rem; margin-bottom: 4.6875rem;} 
.my-80 {margin-top: 5rem; margin-bottom: 5rem;}       
.my-85 {margin-top: 5.3125rem; margin-bottom: 5.3125rem;}  
.my-90 {margin-top: 5.625rem; margin-bottom: 5.625rem;} 
.my-95 {margin-top: 5.9375rem; margin-bottom: 5.9375rem;}  
.my-100 {margin-top: 6.25rem; margin-bottom: 6.25rem;}   
.my-110 {margin-top: 6.875rem; margin-bottom: 6.875rem;} 
.my-120 {margin-top: 7.5rem; margin-bottom: 7.5rem;}    
.my-130 {margin-top: 8.125rem; margin-bottom: 8.125rem;}  
.my-140 {margin-top: 8.75rem; margin-bottom: 8.75rem;} 
.my-150 {margin-top: 9.375rem; margin-bottom: 9.375rem;}  
.my-160 {margin-top: 10rem; margin-bottom: 10rem;}     
.my-170 {margin-top: 10.625rem; margin-bottom: 10.625rem;} 
.my-180 {margin-top: 11.25rem; margin-bottom: 11.25rem;}  
.my-190 {margin-top: 11.875rem; margin-bottom: 11.875rem;} 
.my-200 {margin-top: 12.5rem; margin-bottom: 12.5rem;} 
.my-210 {margin-top: 13.125rem; margin-bottom: 13.125rem;} 
.my-220 {margin-top: 13.75rem; margin-bottom: 13.75rem;}  
.my-230 {margin-top: 14.375rem; margin-bottom: 14.375rem;} 
.my-240 {margin-top: 15rem; margin-bottom: 15rem;}     
.my-250 {margin-top: 15.625rem; margin-bottom: 15.625rem;} 
.my-260 {margin-top: 16.25rem; margin-bottom: 16.25rem;} 
.my-270 {margin-top: 16.875rem; margin-bottom: 16.875rem;} 
.my-280 {margin-top: 17.5rem; margin-bottom: 17.5rem;}   
.my-290 {margin-top: 18.125rem; margin-bottom: 18.125rem;} 
.my-300 {margin-top: 18.75rem; margin-bottom: 18.75rem;} 
/*----------------------------------------------------------------*/