/* Percent */
.max-w-0-pr {max-width: 0%;} .max-w-1-pr {max-width: 1%;} .max-w-2-pr {max-width: 2%;} 
.max-w-3-pr {max-width: 3%;} .max-w-4-pr {max-width: 4%;} .max-w-5-pr {max-width: 5%;} 
.max-w-6-pr {max-width: 6%;} .max-w-7-pr {max-width: 7%;} .max-w-8-pr {max-width: 8%;} 
.max-w-9-pr {max-width: 9%;} .max-w-10-pr {max-width: 10%;} .max-w-11-pr {max-width: 11%;} 
.max-w-12-pr {max-width: 12%;} .max-w-15-pr {max-width: 15%;} .max-w-20-pr {max-width: 20%;} 
.max-w-25-pr {max-width: 25%;} .max-w-30-pr {max-width: 30%;} .max-w-35-pr {max-width: 35%;} 
.max-w-40-pr {max-width: 40%;} .max-w-45-pr {max-width: 45%;} .max-w-50-pr {max-width: 50%;} 
.max-w-55-pr {max-width: 55%;} .max-w-60-pr {max-width: 60%;} .max-w-65-pr {max-width: 65%;} 
.max-w-70-pr {max-width: 70%;} .max-w-75-pr {max-width: 75%;} .max-w-80-pr {max-width: 80%;} 
.max-w-85-pr {max-width: 85%;} .max-w-90-pr {max-width: 90%;} .max-w-95-pr {max-width: 95%;} 
.max-w-98-pr {max-width: 98%;} .max-w-99-pr {max-width: 99%;} .max-w-100-pr {max-width: 100%;} 

/* PX to Rem */
.max-w-0 {max-width: 0.00rem;} .max-w-1 {max-width: 0.0625rem;} .max-w-2 {max-width: 0.125rem;} 
.max-w-3 {max-width: 0.1875rem;} .max-w-4 {max-width: 0.25rem;} .max-w-5 {max-width: 0.3125rem;} 
.max-w-6 {max-width: 0.375rem;} .max-w-7 {max-width: 0.4375rem;} .max-w-8 {max-width: 0.5rem;} 
.max-w-9 {max-width: 0.5625rem;} .max-w-10 {max-width: 0.625rem;} .max-w-11 {max-width: 0.6875rem;} 
.max-w-12 {max-width: 0.75rem;} .max-w-15 {max-width: 0.9375rem;} .max-w-18 {max-width: 1.125rem;} 
.max-w-20 {max-width: 1.25rem;} .max-w-25 {max-width: 1.562rem;} .max-w-30 {max-width: 1.875rem;}
.max-w-35 {max-width: 2.1875rem;} .max-w-40 {max-width: 2.5rem;} .max-w-45 {max-width: 2.8125rem;} 
.max-w-50 {max-width: 3.125rem;} .max-w-55 {max-width: 3.4375rem;} .max-w-60 {max-width: 3.75rem;} 
.max-w-65 {max-width: 4.0625rem;} .max-w-70 {max-width: 4.375rem;} .max-w-75 {max-width: 4.6875rem;} 
.max-w-80 {max-width: 5rem;} .max-w-85 {max-width: 5.3125rem;} .max-w-90 {max-width: 5.625rem;} 
.max-w-95 {max-width: 5.9375rem;} .max-w-100 {max-width: 6.25rem;} .max-w-110 {max-width: 6.875rem;} 
.max-w-120 {max-width: 7.5rem;} .max-w-130 {max-width: 8.125rem;} .max-w-140 {max-width: 8.75rem;} 
.max-w-150 {max-width: 9.375rem;} .max-w-160 {max-width: 10rem;} .max-w-170 {max-width: 10.625rem;} 
.max-w-180 {max-width: 11.25rem;} .max-w-190 {max-width: 11.875rem;} .max-w-200 {max-width: 12.5rem;} 
.max-w-210 {max-width: 13.125rem;} .max-w-220 {max-width: 13.75rem;} .max-w-230 {max-width: 14.375rem;} 
.max-w-240 {max-width: 15rem;} .max-w-250 {max-width: 15.625rem;} .max-w-260 {max-width: 16.25rem;} 
.max-w-270 {max-width: 16.875rem;} .max-w-280 {max-width: 17.5rem;} .max-w-290 {max-width: 18.125rem;} 
.max-w-300 {max-width: 18.75rem;} .max-w-310 {max-width: 19.375rem;} .max-w-320 {max-width: 20rem;} 
.max-w-330 {max-width: 20.625rem;} .max-w-340 {max-width: 21.25rem;} .max-w-350 {max-width: 21.875rem;} 
.max-w-360 {max-width: 22.5rem;} .max-w-370 {max-width: 23.125rem;} .max-w-380 {max-width: 23.75rem;} 
.max-w-390 {max-width: 24.375rem;} .max-w-400 {max-width: 25rem;} .max-w-410 {max-width: 25.625rem;} 
.max-w-420 {max-width: 26.25rem;} .max-w-430 {max-width: 26.875rem;} .max-w-440 {max-width: 27.5rem;} 
.max-w-450 {max-width: 28.125rem;} .max-w-460 {max-width: 28.75rem;} .max-w-470 {max-width: 29.375rem;} 
.max-w-480 {max-width: 30rem;} .max-w-490 {max-width: 30.625rem;} .max-w-500 {max-width: 31.25rem;} 
.max-w-520 {max-width: 32.5rem;} .max-w-530 {max-width: 33.125rem;} .max-w-550 {max-width: 34.375rem;} 
.max-w-580 {max-width: 36.25rem;} .max-w-600 {max-width: 37.5rem;} .max-w-630 {max-width: 39.375rem;} 
.max-w-650 {max-width: 40.625rem;} .max-w-680 {max-width: 42.5rem;} .max-w-700 {max-width: 43.75rem;} 
.max-w-750 {max-width: 46.875rem;} .max-w-800 {max-width: 50rem;} .max-w-max {max-width: max-content;} 
.max-w-max {max-width: max-content;} .max-w-fit {max-width: fit-content;} .max-w-vw {max-width: 100vw;}
.max-w-auto {max-width: auto;}

/* Divide */
.max-w-1-12	{max-width: 8.333333%;} .max-w-2-12	{max-width: 16.666667%;} .max-w-3-12 {max-width: 25%;}
.max-w-4-12	{max-width: 33.333333%;} .max-w-5-12 {max-width: 41.666667%;} .max-w-6-12 {max-width: 50%;} 
.max-w-7-12	{max-width: 58.333333%;} .max-w-8-12 {max-width: 66.666667%;} .max-w-9-12 {max-width: 75%;} 
.max-w-10-12 {max-width: 83.333333%;} .max-w-11-12 {max-width: 91.666667%;} .max-w-full {max-width: 100%;}