.sent {
  float: right;
  background-color: #d7dfde;
  border-radius: 8px;
}
.receive {
  float: left;
  background: #ece9eb;
  border-radius: 8px;
}

.clear-both {
  clear: both;
}

.border-b-1 {
  border-bottom: 1px;
}
.-b-red {
  border-bottom-color: #10df9a;
}
/* shaow white */
.shadow-white-3 {
  box-shadow: 0 0 3px white;
}
.shadow-white-5 {
  box-shadow: 0 0 5px white;
}
.shadow-white-10 {
  box-shadow: 0 0 10px white;
}

.resize-none {
  resize: none;
}

.h-90-vh {
  max-height: 90vh;
}
.max-h-100-vh {
  max-height: 100vh;
}

.border-box {
   box-sizing: border-box;
}

 







