/* Box Shadow - All side */
.shadow-0 {box-shadow: 0 0 0 black;}
.shadow-1 {box-shadow: 0 0 1px black;}
.shadow-2 {box-shadow: 0 0 2px black;}
.shadow-3 {box-shadow: 0 0 3px black;}
.shadow-4 {box-shadow: 0 0 4px black;}
.shadow-5 {box-shadow: 0 0 5px black;}
.shadow-6 {box-shadow: 0 0 6px black;}
.shadow-7 {box-shadow: 0 0 7px black;}
.shadow-8 {box-shadow: 0 0 8px black;}
.shadow-9 {box-shadow: 0 0 9px black;}
.shadow-10 {box-shadow: 0 0 10px black;}
.shadow-11 {box-shadow: 0 0 11px black;}
.shadow-12 {box-shadow: 0 0 12px black;}
.shadow-13 {box-shadow: 0 0 13px black;}
.shadow-14 {box-shadow: 0 0 14px black;}
.shadow-15 {box-shadow: 0 0 15px black;} 
.shadow-16 {box-shadow: 0 0 16px black;}
.shadow-17 {box-shadow: 0 0 17px black;}
.shadow-18 {box-shadow: 0 0 18px black;}
.shadow-19 {box-shadow: 0 0 19px black;}
.shadow-20 {box-shadow: 0 0 20px black;} 
/* ----------------------- */
.shadow-top {box-shadow: -3px 0 5px black;}
.shadow-right {box-shadow: 0 3px 5px black;}
.shadow-bottom {box-shadow: 3px 0 5px black;}
.shadow-left {box-shadow: -3px 0 5px black;}
/* Text Shadow All Site */
.text-shadow-0 {text-shadow: 0 0 0 black;}
.text-shadow-1 {text-shadow: 0 0 1px black;}
.text-shadow-2 {text-shadow: 0 0 2px black;}
.text-shadow-3 {text-shadow: 0 0 3px black;}
.text-shadow-4 {text-shadow: 0 0 4px black;}
.text-shadow-5 {text-shadow: 0 0 5px black;}
.text-shadow-6 {text-shadow: 0 0 6px black;}
.text-shadow-7 {text-shadow: 0 0 7px black;}
.text-shadow-8 {text-shadow: 0 0 8px black;}
.text-shadow-9 {text-shadow: 0 0 9px black;}
.text-shadow-10 {text-shadow: 0 0 10px black;}
.text-shadow-11 {text-shadow: 0 0 11px black;}
.text-shadow-12 {text-shadow: 0 0 12px black;}
.text-shadow-13 {text-shadow: 0 0 13px black;}
.text-shadow-14 {text-shadow: 0 0 14px black;}
.text-shadow-15 {text-shadow: 0 0 15px black;} 
/* ----------------------- */
.text-shadow-top {text-shadow: -3px 0 5px black;}
.text-shadow-right {text-shadow: 0 3px 5px black;}
.text-shadow-bottom {text-shadow: 3px 0 5px black;}
.text-shadow-left {text-shadow: -3px 0 5px black;}
